## Preprocessing

In [119]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [120]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(['EIN', 'NAME'], axis=1)
application_df

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...
34294,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

In [121]:
# Determine the number of unique values in each column.
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [122]:
# Look at APPLICATION_TYPE value counts for binning
application_df['APPLICATION_TYPE'].value_counts()

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [123]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = ['T9', 'T13', 'T12', 'T2', 'T25', 'T14', 'T29', 'T15', 'T17']

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [124]:
# Look at CLASSIFICATION value counts for binning
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [125]:
# You may find it helpful to look at CLASSIFICATION value counts >1
application_df['CLASSIFICATION'].value_counts().loc[lambda x: x>1]

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [126]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = application_df['CLASSIFICATION'].value_counts().loc[lambda x: x<1000].index.tolist()

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [127]:
# Convert categorical data to numeric with `pd.get_dummies`
application_df = pd.get_dummies(application_df)
application_df.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,1,0,0,0,1,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,1,0,0,0,1,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,1,0,0,0,1,0,0,0,...,0,0,1,0,0,0,0,0,1,0

In [128]:
application_df.nunique()

STATUS                             2
ASK_AMT                         8747
IS_SUCCESSFUL                      2
APPLICATION_TYPE_Other             2
APPLICATION_TYPE_T10               2
APPLICATION_TYPE_T19               2
APPLICATION_TYPE_T3                2
APPLICATION_TYPE_T4                2
APPLICATION_TYPE_T5                2
APPLICATION_TYPE_T6                2
APPLICATION_TYPE_T7                2
APPLICATION_TYPE_T8                2
AFFILIATION_CompanySponsored       2
AFFILIATION_Family/Parent          2
AFFILIATION_Independent            2
AFFILIATION_National               2
AFFILIATION_Other                  2
AFFILIATION_Regional               2
CLASSIFICATION_C1000               2
CLASSIFICATION_C1200               2
CLASSIFICATION_C2000               2
CLASSIFICATION_C2100               2
CLASSIFICATION_C3000               2
CLASSIFICATION_Other               2
USE_CASE_CommunityServ             2
USE_CASE_Heathcare                 2
USE_CASE_Other                     2
USE_CASE_Preservation              2
USE_CASE_ProductDev                2
ORGANIZATION_Association           2
ORGANIZATION_Co-operative          2
ORGANIZATION_Corporation           2
ORGANIZATION_Trust                 2
INCOME_AMT_0                       2
INCOME_AMT_1-9999                  2
INCOME_AMT_10000-24999             2
INCOME_AMT_100000-499999           2
INCOME_AMT_10M-50M                 2
INCOME_AMT_1M-5M                   2
INCOME_AMT_25000-99999             2
INCOME_AMT_50M+                    2
INCOME_AMT_5M-10M                  2
SPECIAL_CONSIDERATIONS_N           2
SPECIAL_CONSIDERATIONS_Y           2
dtype: int64

In [129]:
# Split our preprocessed data into our features and target arrays
y = application_df["IS_SUCCESSFUL"]
X = application_df.drop(columns=["IS_SUCCESSFUL"])

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X,y)

In [130]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [131]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=80, activation='relu', input_dim=43))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=30, activation='relu', input_dim=80))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation='relu', input_dim=30))

# Check the structure of the model
nn.summary()

Model: "sequential_9"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_27 (Dense)            (None, 80)                3520

 dense_28 (Dense)            (None, 30)                2430

 dense_29 (Dense)            (None, 1)                 31

=================================================================
Total params: 5,981
Trainable params: 5,981
Non-trainable params: 0
_________________________________________________________________

In [132]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [133]:
# Train the model
fit_model = nn.fit(X_train_scaled, y_train, epochs=100)

Epoch 1/100
804/804 [==============================] - 2s 2ms/step - loss: 1.0263 - accuracy: 0.6807
Epoch 2/100
804/804 [==============================] - 2s 2ms/step - loss: 1.1082 - accuracy: 0.6993
Epoch 3/100
804/804 [==============================] - 2s 2ms/step - loss: 1.1261 - accuracy: 0.7028
Epoch 4/100
804/804 [==============================] - 2s 2ms/step - loss: 1.0071 - accuracy: 0.7055
Epoch 5/100
804/804 [==============================] - 2s 3ms/step - loss: 0.9980 - accuracy: 0.7042
Epoch 6/100
804/804 [==============================] - 2s 2ms/step - loss: 0.9694 - accuracy: 0.7089
Epoch 7/100
804/804 [==============================] - 2s 2ms/step - loss: 0.7852 - accuracy: 0.7147
Epoch 8/100
804/804 [==============================] - 2s 2ms/step - loss: 0.7661 - accuracy: 0.7272
Epoch 9/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6998 - accuracy: 0.7273
Epoch 10/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6874 - accuracy: 0.7168
Epoch 11/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6585 - accuracy: 0.7248
Epoch 12/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6615 - accuracy: 0.7288
Epoch 13/100
804/804 [==============================] - 2s 3ms/step - loss: 0.6857 - accuracy: 0.7222
Epoch 14/100
804/804 [==============================] - 2s 2ms/step - loss: 0.7082 - accuracy: 0.7287
Epoch 15/100
804/804 [==============================] - 2s 2ms/step - loss: 0.7425 - accuracy: 0.7231
Epoch 16/100
804/804 [==============================] - 2s 2ms/step - loss: 0.7729 - accuracy: 0.7208
Epoch 17/100
804/804 [==============================] - 2s 2ms/step - loss: 0.7952 - accuracy: 0.7155
Epoch 18/100
804/804 [==============================] - 2s 2ms/step - loss: 0.7399 - accuracy: 0.7194
Epoch 19/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6945 - accuracy: 0.7231
Epoch 20/100
804/804 [==============================] - 2s 3ms/step - loss: 0.6660 - accuracy: 0.7285
Epoch 21/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6731 - accuracy: 0.7264
Epoch 22/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6947 - accuracy: 0.7267
Epoch 23/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6668 - accuracy: 0.7164
Epoch 24/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6211 - accuracy: 0.7288
Epoch 25/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6173 - accuracy: 0.7303
Epoch 26/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6216 - accuracy: 0.7318
Epoch 27/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6582 - accuracy: 0.7237
Epoch 28/100
804/804 [==============================] - 2s 3ms/step - loss: 0.6297 - accuracy: 0.7250
Epoch 29/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6285 - accuracy: 0.7295
Epoch 30/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6336 - accuracy: 0.7261
Epoch 31/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6126 - accuracy: 0.7279
Epoch 32/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6132 - accuracy: 0.7294
Epoch 33/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6172 - accuracy: 0.7303
Epoch 34/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6853 - accuracy: 0.7169
Epoch 35/100
804/804 [==============================] - 2s 2ms/step - loss: 0.7228 - accuracy: 0.7129
Epoch 36/100
804/804 [==============================] - 2s 3ms/step - loss: 0.6926 - accuracy: 0.7222
Epoch 37/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6668 - accuracy: 0.7273
Epoch 38/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6087 - accuracy: 0.7314
Epoch 39/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6055 - accuracy: 0.7326
Epoch 40/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6050 - accuracy: 0.7322
Epoch 41/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6023 - accuracy: 0.7292
Epoch 42/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5898 - accuracy: 0.7274
Epoch 43/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5870 - accuracy: 0.7310
Epoch 44/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5819 - accuracy: 0.7317
Epoch 45/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6014 - accuracy: 0.7285
Epoch 46/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5901 - accuracy: 0.7304
Epoch 47/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5902 - accuracy: 0.7332
Epoch 48/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5863 - accuracy: 0.7315
Epoch 49/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5849 - accuracy: 0.7267
Epoch 50/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5669 - accuracy: 0.7327
Epoch 51/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5598 - accuracy: 0.7324
Epoch 52/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5646 - accuracy: 0.7325
Epoch 53/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5732 - accuracy: 0.7256
Epoch 54/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5678 - accuracy: 0.7278
Epoch 55/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5619 - accuracy: 0.7336
Epoch 56/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5598 - accuracy: 0.7325
Epoch 57/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5670 - accuracy: 0.7346
Epoch 58/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6121 - accuracy: 0.7329
Epoch 59/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5781 - accuracy: 0.7273
Epoch 60/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5649 - accuracy: 0.7321
Epoch 61/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5675 - accuracy: 0.7347
Epoch 62/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5653 - accuracy: 0.7334
Epoch 63/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5710 - accuracy: 0.7343
Epoch 64/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5702 - accuracy: 0.7329
Epoch 65/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5678 - accuracy: 0.7352
Epoch 66/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5673 - accuracy: 0.7362
Epoch 67/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5687 - accuracy: 0.7294
Epoch 68/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5577 - accuracy: 0.7356
Epoch 69/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5583 - accuracy: 0.7348
Epoch 70/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5663 - accuracy: 0.7302
Epoch 71/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5733 - accuracy: 0.7309
Epoch 72/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5656 - accuracy: 0.7350
Epoch 73/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5699 - accuracy: 0.7273
Epoch 74/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5729 - accuracy: 0.7278
Epoch 75/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5712 - accuracy: 0.7284
Epoch 76/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5657 - accuracy: 0.7321
Epoch 77/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5702 - accuracy: 0.7330
Epoch 78/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5634 - accuracy: 0.7341
Epoch 79/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5634 - accuracy: 0.7336
Epoch 80/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5674 - accuracy: 0.7317
Epoch 81/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5729 - accuracy: 0.7350
Epoch 82/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5732 - accuracy: 0.7331
Epoch 83/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5873 - accuracy: 0.7326
Epoch 84/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5802 - accuracy: 0.7267
Epoch 85/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5744 - accuracy: 0.7279
Epoch 86/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5695 - accuracy: 0.7336
Epoch 87/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5715 - accuracy: 0.7331
Epoch 88/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5755 - accuracy: 0.7314
Epoch 89/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5696 - accuracy: 0.7333
Epoch 90/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5679 - accuracy: 0.7334
Epoch 91/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5693 - accuracy: 0.7320
Epoch 92/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5689 - accuracy: 0.7319
Epoch 93/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5722 - accuracy: 0.7343
Epoch 94/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5709 - accuracy: 0.7343
Epoch 95/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5690 - accuracy: 0.7303
Epoch 96/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5701 - accuracy: 0.7362
Epoch 97/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5651 - accuracy: 0.7351
Epoch 98/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5710 - accuracy: 0.7353
Epoch 99/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5573 - accuracy: 0.7361
Epoch 100/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5624 - accuracy: 0.7370

In [134]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.6016 - accuracy: 0.7269 - 452ms/epoch - 2ms/step
Loss: 0.6015931963920593, Accuracy: 0.7268804907798767

In [135]:
# Export our model to HDF5 file
nn.save('AlphabetSoupCharity.h5')